body{
    background-color: #001935;
    font-family: Arial, Helvetica, sans-serif;
}
.tumblrimage{
    width: 35px;
    height: 33px;
    
}
.searchicon{
    width: 35px;
    height: 33px;   
}
.searchtumblr{
    width: 400px;
    height: 25px;
}
.navbar {
    overflow: hidden;
    background-color: #001935;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-top: 30px;
    margin-left: 20px;
    
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin-left: 15px;
    margin-top: 30px;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #001935;
    opacity: 0.2;
    
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.log_in{
    background-color: rgb(0, 255, 0);
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    border: none;
    float: right;
}
.sign_up{
    background-color: rgb(0, 217, 255);
    border-radius: 2px;
    cursor: pointer;
    padding: 10px;
    border: none;
    margin-right: 10px;   
    float: right;
}
.body-container{
    box-sizing: border-box;
}
.main{
    width: 70%;
    float: left;
    margin-left: 30px;
}
.container-group{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: #001935;
    gap: 22px;   
}
.container{
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 20px;
    width: auto;
    height: 50px;
    border-radius: 5px;
}
.container-posts{
    display: flex;
    flex-flow: row;
    gap: 30px;
    margin: 30px;
    
}
.one{
    background-color: #ff9999;

}
.two{
    background-color: #ffc299;

}
.three{
    background-color: #c299ff;
}
.four{
    background-color: #99ff99;
}
.five{
    background-color: #ffff99;
}
.six{
    background-color: #9999ff;
}
ul{
    display: flex;
    columns: auto auto auto;
}
.circle_1{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: red;
}
.circle_2{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #ff6600;
}
.circle_3{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #6600ff;
}
.circle_4{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #00ff00;
}
.circle_5{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #ffff00;
}
.circle_6{
    height: 25px;
    width: 25px;
    border-radius: 100%;
    background-color: #0000ff;
}


.menu{
    display: grid;
    grid-template-rows: 20% 70% 10%;
    height: 400px;
    width: 27%;
    background-color: rgba(255,255,255,0.07);
    float: right;
    border-radius: 5px;
}
.title-menu{
    color: white;
    padding: 7%;
    font-size: 20px;
    border-bottom: 1px solid white;
}
.body-menu{
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}
p{
    text-align: center;
    font-size: 15px;
    color: black;

}
.footer{
    width: 20%;
    float: right;
    margin-top: 120px;
}
img {
    width: 70%;
    height: 80%;
}
.posts{
    width: 30%;
}